/** CSS STYLE **/
@font-face {
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --white-semitransparent: #d7ccc0;
  --light: #f5f4f0;
  --primary-color: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-semitransparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 1440px;
  padding: 0;
  margin: 0;
}

body > * {
  padding: 100px 165px;
}

h1, h2, h3 {
  font-family: "Neucha", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.question-background::before {
  content:'';
  background-image: url("../images/background.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 914px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.light-background {
  background-color: var(--light);
}

.text-primary {
  color: var(--primary-color);
}

.header {
  position: absolute;
}

header img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: 360px;
}

.text-section {
  margin-top: 200px;
}

.columns-2 {
  columns: 540px 2;
  column-gap: 30px;
}

.text-section p {
  break-inside: avoid;
  margin-top: 0;
}


.btn {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 160%;
  font-weight: bold;
  border: none;
  position: relative;
  top: 30px;
}