/** CSS STYLE **/
@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

:root {
  --white: #fff;
  --white-semitransparent: #d7ccc0;
  --light: #f5f4f0;
  --primary-color: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-semitransparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

html {
  width: 1440px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
  margin: 0;
}

h1, 
h2, 
h3 {
  font-family: Neucha, cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.question-background {
  position: relative;
  z-index: 0;
}

.question-background::before {
  content: "";
  background-image: url("../images/background.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.light-background {
  background-color: var(--light);
}

.dark-background {
  background-color: var(--brown);
  color: var(--white);
}

.text-dark {
  color: var(--dark);
}

.text-primary {
  color: var(--primary-color);
}

header {
  position: relative;
  padding: 100px 165px;
  height: 720px;
  overflow: hidden;
}

header img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -105px;
}

.text-section {
  display: flex;
  justify-content: space-between;
}

header .text-section {
  margin-top: 200px;
}

.text-section .column {
  width: 540px;
}

.column p {
  margin: 0;
}

.video-section p {
  display: block;
  margin: 27px 0 30px;
  height: 26px;
}

.main-section p {
  padding: 0;
  margin: 0;
  width: 502px;
}

header .column p {
  margin-bottom: 13px;
}

header .column p:last-of-type {
  margin-bottom: 0;
}

.btn {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 160%;
  font-weight: bold;
  border: none;
  display: inline-block;
  margin-top: 40px;
  height: 49px;
  width: 148px;
  box-sizing: border-box;
}

main > * {
  padding: 100px 165px;
}

.video-section {
  text-align: center;
  height: 614px;
}

.video-section h2 {
  height: 146px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  border: 0;
}

.navigation-section {
  background-color: var(--primary-dark);
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 691px;
}

.navigation-section-header {
  font-size: 52px;
  font-family: Neucha, cursive;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.navigation-card {
  width: 350px;
  height: 348px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.navigation-card:nth-of-type(1),  
.navigation-card:nth-of-type(2), 
.navigation-card:nth-of-type(3) {
  height: 323px;
}

.link-card {
  padding: 24px;
  background-color: var(--light);
}

.navigation-number {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1;
  margin: 0;
}

.link-card a {
  text-decoration: none;
  color: var(--primary-color);
  line-height: 1.2;
}

.navigation-text {
  margin: 0;
  margin-top: 16px;
}

.second-header {
  display: block;
  width: 100%;
  height: 26px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin: 100px 0 20px;
  padding: 0;
  padding-left: 10px;
  box-sizing: border-box;
}

.light-background .second-header {
  color: var(--white);
  background-color: var(--brown);
}

.dark-background .second-header {
  color: var(--brown);
  background-color: var(--white);
}

.light-background h2 {
  color: var(--dark);
}

.dark-background h2 {
  color: var(--white);
}

.main-section {
  display: flex;
  column-gap: 30px;
}

.main-section .column {
  flex: 1 0 max-content;
  vertical-align: middle;
  height: 434px;
}

.pre-header {
  font-size: 24px;
  font-family: Neucha, cursive;
  line-height: 1.2;
}

.light-background .pre-header {
  color: var(--dark-semitransparent);
}

.dark-background .pre-header {
  color: var(--white-semitransparent);
}

.description {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2;
}

.main-section h2 {
  margin-bottom: 30px;
}

#ikea-effect .text-section .column p {
  height: 125px;
}

#premature-optimization .text-section .column p {
  height: 75px;
}

#distortion-of-novelty .text-section .column p {
  height: 100px;
}

#hyperbolic-depreciation .text-section .column p {
  height: 157px;
}

#errors-in-planning .text-section .column p {
  height: 139px;
}

footer {
  padding: 100px 165px;
}

footer h3 {
  color: var(--white);
}

.subscr {
  color: var(--white);
  background-color: var(--primary-dark);
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  height: 190px;
  box-sizing: border-box;
}

.subscr label {
  display: block;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.input-form {
  display: flex;
}

.subscr input {
  height: 50px;
  width: 415px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 13px;
  color: var(--white-semitransparent);
  border: none;
}

.form-btn {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: var(--primary-color);
  padding: 0;
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
}

.agreement {
  font-size: 12px;
}

.agreement a {
  color: var(--white);
}

.contacts {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}
