/** CSS STYLE **/
@font-face {
  font-family: 'Neucha';
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

:root {
  --white: #fff;
  --white-semitransparent: #d7ccc0;
  --light: #f5f4f0;
  --primary-color: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-semitransparent: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 1440px;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Neucha', cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.question-background::before {
  content:'';
  background-image: url("../images/background.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 914px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.light-background {
  background-color: var(--light);
}

.text-primary {
  color: var(--primary-color);
}

header {
  position: relative;
  padding: 100px 165px;
}

header img {
  height: 525px;
  position: absolute;
  top: 55px;
  right: -105px;
}

.text-section {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 540px;
}


.column p {
  margin-top: 0;
}

.btn {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 160%;
  font-weight: bold;
  border: none;
  display: inline-block;
  margin-top: 20px;
}

main > * {
  padding: 100px 165px;
}

.video-section {
  text-align: center;
  height: 614px;
}

.video-section p {
  margin: 30px 0;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation-section {
  background-color: var(--primary-dark);
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 691px;
}

.navigation-section-header {
  font-size: 52px;
  font-family: 'Neucha', cursive;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.navigation-card {
  width: 350px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.link-card {
  height: auto;
  padding: 24px;
  background-color: var(--light);
}

.navigation-number {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: 'Neucha', cursive;
  line-height: 1;
  margin: 0;
}

.link-card a {
  text-decoration: none;
  color: var(--primary-color);
  line-height: 1.2;
}

.navigation-text {
  margin: 0;
  margin-top: 16px;
}